html {
    min-height: 100%;
    position: relative;
}
body{
    background-image: url("../res/imgs/bar2.jpg");
    color: white; 
    /*background-repeat: repeat-y;
    margin: 0;
    margin-bottom: 40px; */
    background-size: cover;
}
h1,h2{
    
    color: whitesmoke;
    text-align: left;
    font-size: xx-large
}
p,ul{
    text-align: justify;
    font-style: normal;
    font-size: 2.5ex
}
table{
    text-align: center;
    background-color: black
}

footer{
    background-color: goldenrod; text-align: center; height: 25px;
    color: black;
    border-radius: 5px;
    border: 2px solid bisque;
    position: absolute;
    bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 99%;
}
a{
    /*color: white*/
}
a:hover{
    color:goldenrod
}


.contenedor{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 100px;
    width: 99%;
    background: rgb(0, 0, 0);
    color: bisque;
    padding: 30px 50px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    
    font-size: 5ex;
    font-weight: bold;
    align-content: center;
    text-align: center;
}

#pestanas {
    float: top;
    font-size: 2.5ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -32px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: darkgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid bisque;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: bisque;
}

#contenidopestanas{
    clear: both;  
    background: dimgray;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid bisque;
    width: 99%;
}

.formulario {
    /* Sólo para centrar el formulario a la página */
    margin: 0 auto;
    width: 600px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 2px solid #CCC;
    border-radius: 1em;
}

.formulario h2{
    text-align: left;
    color: #819395;
    text-decoration: underline;
    margin-left: 1em;
}

.formulario div1 + div1 {
    margin-top: 1em;
}

.formulario label{
    display: inline-block;
    width: 80px;
    text-align: right;
    font-size: 20px;
}

.formulario input, textarea, select {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;

    /* Para darle el mismo tamaño a todos los campos de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 2px solid #999;
}

.formulario input:focus, textarea:focus, select:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: #3DC1D0;
}

.formulario textarea {
    /* Para alinear campos de texto multilínea con sus labels */
    vertical-align: top;

    /* Para dar suficiente espacio para escribir texto */
    height: 10em;

    /* Para permitir a los usuarios cambiar el tamaño de cualquier textarea verticalmente
        No funciona en todos los navegadores */
    resize: vertical;
}

#gallery img {
border: none;
}
#gallery_nav {
padding-top:5px;
margin-left:150px;
float:none;
width: 450px;
text-align: center;
}
#gallery_output {
margin-left:600px;
width: 900px;
height: 600px;
overflow: hidden;
}
#gallery_output img {
display: block;
margin: 10px auto 0 auto;
}

#cambiarEstilo a{
    text-decoration: none;
    color: bisque;
}

#cambiarEstilo:hover{
    background-color: #FC7373;
}

#resultado {
    border-radius: 10px;
    display: inline;
    margin-top: 16px;
    width: 95%;
    background: rgb(0, 0, 0);
}

.list-group-item {
    margin: 30px;
    background-color: rgb(0, 0, 0);
}

.card {
    background-color: rgb(233, 230, 230);
    box-shadow: 0 0px 10px 10px rgba(204, 204, 204, 0.8);  
}
